# IPL Dataset Analysis

## Problem Statement
We want to know as to what happens during an IPL match which raises several questions in our mind with our limited knowledge about the game called cricket on which it is based. This analysis is done to know as which factors led one of the team to win and how does it matter.

## About the Dataset :
The Indian Premier League (IPL) is a professional T20 cricket league in India contested during April-May of every year by teams representing Indian cities. It is the most-attended cricket league in the world and ranks sixth among all the sports leagues. It has teams with players from around the world and is very competitive and entertaining with a lot of close matches between teams.

The IPL and other cricket related datasets are available at [cricsheet.org](https://cricsheet.org/%c2%a0(data). Feel free to visit the website and explore the data by yourself as exploring new sources of data is one of the interesting activities a data scientist gets to do.

Snapshot of the data you will be working on:<br>
<br>
The dataset 136522 data points and 23 features<br>

|Features|Description|
|-----|-----|
|match_code|Code pertaining to individual match|
|date|Date of the match played|
|city|City where the match was played|
|venue|Stadium in that city where the match was played|
|team1|team1|
|team2|team2|
|toss_winner|Who won the toss out of two teams|
|toss_decision|toss decision taken by toss winner|
|winner|Winner of that match between two teams|
|win_type|How did the team won(by wickets or runs etc.)|
|win_margin|difference with which the team won| 
|inning|inning type(1st or 2nd)|
|delivery|ball delivery|
|batting_team|current team on batting|
|batsman|current batsman on strike|
|non_striker|batsman on non-strike|
|bowler|Current bowler|
|runs|runs scored|
|extras|extra run scored|
|total|total run scored on that delivery including runs and extras|
|extras_type|extra run scored by wides or no ball or legby|
|player_out|player that got out|
|wicket_kind|How did the player got out|
|wicket_fielders|Fielder who caught out the player by catch|

### Analyzing data using pandas module

### Read the data using pandas module.

In [1]:
import pandas as pd
import numpy as np
df_ipl = pd.read_csv('ipl_dataset.csv')
df_ipl.shape

(136522, 24)

In [2]:
len(df_ipl['match_code'].unique())

# You can also use: 
#df_ipl['match_code'].nunique()

577

### There are certain fixed cities all around the world where matches are held. Find the list of unique cities where matches were played

In [5]:
# Corrected as Venues to Cities
fixed_venues = df_ipl['venue'].unique()
fixed_venues

array(['Buffalo Park', "St George's Park", 'SuperSport Park',
       'Dubai International Cricket Stadium',
       'MA Chidambaram Stadium, Chepauk', 'Sawai Mansingh Stadium',
       'Eden Gardens', 'Feroz Shah Kotla',
       'Punjab Cricket Association Stadium, Mohali',
       'Sharjah Cricket Stadium',
       'Rajiv Gandhi International Stadium, Uppal',
       'JSCA International Stadium Complex', 'Wankhede Stadium',
       'M Chinnaswamy Stadium',
       'Himachal Pradesh Cricket Association Stadium',
       'Brabourne Stadium', 'Maharashtra Cricket Association Stadium',
       'Saurashtra Cricket Association Stadium',
       'Subrata Roy Sahara Stadium', 'Kingsmead',
       'Dr DY Patil Sports Academy', 'Barabati Stadium', 'Newlands',
       'Sardar Patel Stadium, Motera', 'New Wanderers Stadium',
       'Dr. Y.S. Rajasekhara Reddy ACA-VDCA Cricket Stadium',
       'Sheikh Zayed Stadium',
       'Shaheed Veer Narayan Singh International Stadium',
       'Nehru Stadium', 'De Beers Diamond Oval',
       'Vidarbha Cricket Association Stadium, Jamtha', 'OUTsurance Oval',
       'Punjab Cricket Association IS Bindra Stadium, Mohali',
       'Holkar Cricket Stadium', 'Green Park'], dtype=object)

### Find the columns which contains null values if any ?

In [8]:
null = df_ipl.columns[df_ipl.isnull().any()]
#null = null.isnull().sum()
null

Index(['winner', 'win_type', 'win_margin', 'extras_type', 'player_out',
       'wicket_kind', 'wicket_fielders'],
      dtype='object')

### Though the match is held in different cities all around the world it may or maynot have multiple venues (stadiums where matches are held) list down top 5 most played venues

In [19]:
#most = df_ipl.venue.value_counts().max()
#most = df_ipl.mode()
most = df_ipl['venue'].value_counts().head(5)#[df_ipl['venue'].value_counts() == df_ipl['venue'].value_counts().max()]
most

M Chinnaswamy Stadium              13368
Eden Gardens                       12578
Feroz Shah Kotla                   12274
MA Chidambaram Stadium, Chepauk    11751
Wankhede Stadium                   11688
Name: venue, dtype: int64

### Make a runs vs run-count frequency table

In [4]:
run_counts = df_ipl['runs'].value_counts()
run_counts

0    55870
1    50087
4    15409
2     8835
6     5806
3      473
5       42
Name: runs, dtype: int64

### IPL seasons are held every year now let's look at our data and extract how many seasons were recorded.

In [7]:
df_ipl['year'] = df_ipl['date'].apply(lambda x : x[:4])
print('Total number of seasons played:',len(df_ipl['year'].unique()))
print('IPL played in the following years:',df_ipl['year'].unique())

Total number of seasons played: 9
IPL played in the following years: ['2009' '2014' '2011' '2008' '2015' '2010' '2013' '2012' '2016']

### What are the total no. of matches played per season

In [22]:
matches_played_per_season = df_ipl.groupby('year')['match_code'].nunique()
print(matches_played_per_season)

year
2008    58
2009    57
2010    60
2011    73
2012    74
2013    76
2014    60
2015    59
2016    60
Name: match_code, dtype: int64

### What are the total runs scored across each season

In [8]:
runs_scored = df_ipl.groupby('year')['total'].sum()
print(runs_scored)

year
2008    17936
2009    16320
2010    18862
2011    21154
2012    22451
2013    22541
2014    18909
2015    18331
2016    18862
Name: total, dtype: int64

### There are teams which are high performing and low performing. Let's look at the aspect of performance of an individual team. Filter the data and aggregate the runs scored by each team. Display top 10 results which are having runs scored over 200.

In [43]:
high_scores = df_ipl.groupby(['match_code','inning','team1','team2','batting_team','winner'])['total'].sum().reset_index()
high_scores = high_scores[high_scores['total']>=200]
high_scores.nlargest(10,'total')

,match_code,inning,team1,team2,batting_team,winner,total
692,598027,1,Royal Challengers Bangalore,Pune Warriors,Royal Challengers Bangalore,Royal Challengers Bangalore,263
1102,980987,1,Royal Challengers Bangalore,Gujarat Lions,Royal Challengers Bangalore,Royal Challengers Bangalore,248
288,419137,1,Chennai Super Kings,Rajasthan Royals,Chennai Super Kings,Chennai Super Kings,246
2,335983,1,Kings XI Punjab,Chennai Super Kings,Chennai Super Kings,Chennai Super Kings,240
988,829795,1,Mumbai Indians,Royal Challengers Bangalore,Royal Challengers Bangalore,Royal Challengers Bangalore,235
468,501260,1,Kings XI Punjab,Royal Challengers Bangalore,Kings XI Punjab,Kings XI Punjab,232
394,501223,1,Delhi Daredevils,Kings XI Punjab,Delhi Daredevils,Delhi Daredevils,231
840,733987,1,Kings XI Punjab,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,231
1022,980907,1,Royal Challengers Bangalore,Sunrisers Hyderabad,Royal Challengers Bangalore,Royal Challengers Bangalore,227
900,734047,1,Chennai Super Kings,Kings XI Punjab,Kings XI Punjab,Kings XI Punjab,226

### Chasing a 200+ target is difficulty in T-20 format. What are the chances that a team scoring runs above 200  in their 1st inning is chased by the opposition in 2nd inning.

In [52]:
high_score1 = high_scores[high_scores['inning']==1]
high_score2 = high_scores[high_scores['inning']==2]
high_score1 = high_score1.merge(high_score2[['match_code','inning','total']], on='match_code')
high_score1.rename(columns={'inning_x':'inning_1','inning_y':'inning_2','total_x':'inning1_runs','total_y':'inning2_runs'}, inplace=True)
high_score1 = high_score1[high_score1['inning1_runs']>=200]
high_score1['is_score_chased'] = np.where(high_score1['inning1_runs']<=high_score1['inning2_runs'],'yes','no')
chances = high_score1['is_score_chased'].value_counts()
print(chances)

no     8
yes    6
Name: is_score_chased, dtype: int64

### Every season has that one team which is outperforming others and is in great form. Which team has the highest win counts in their respective seasons ?

In [15]:
best_team = df_ipl.groupby(['team1','team2','year','winner'])['total'].sum().reset_index()
best_team_final = best_team.groupby(['year','winner'])['total'].sum().reset_index()
best_team_final

    year                       winner  total
0   2008          Chennai Super Kings   2945
1   2008              Deccan Chargers    601
2   2008             Delhi Daredevils   2302
3   2008              Kings XI Punjab   3179
4   2008        Kolkata Knight Riders   1756
5   2008               Mumbai Indians   1804
6   2008             Rajasthan Royals   4135
7   2008  Royal Challengers Bangalore   1214
8   2009          Chennai Super Kings   2288
9   2009              Deccan Chargers   2670
10  2009             Delhi Daredevils   2872
11  2009              Kings XI Punjab   1981
12  2009        Kolkata Knight Riders    817
13  2009               Mumbai Indians   1419
14  2009             Rajasthan Royals   1417
15  2009  Royal Challengers Bangalore   2556
16  2010          Chennai Super Kings   2975
17  2010              Deccan Chargers   2582
18  2010             Delhi Daredevils   2099
19  2010              Kings XI Punjab    939
20  2010        Kolkata Knight Riders   2128
21  2010               Mumbai Indians   3648
22  2010             Rajasthan Royals   1898
23  2010  Royal Challengers Bangalore   2321
24  2011          Chennai Super Kings   3461
25  2011              Deccan Chargers   1688
26  2011             Delhi Daredevils   1440
27  2011              Kings XI Punjab   2327
28  2011         Kochi Tuskers Kerala   1661
29  2011        Kolkata Knight Riders   2050
..   ...                          ...    ...
46  2013        Kolkata Knight Riders   1622
47  2013               Mumbai Indians   3989
48  2013                Pune Warriors   1226
49  2013             Rajasthan Royals   3262
50  2013  Royal Challengers Bangalore   2488
51  2013          Sunrisers Hyderabad   2137
52  2014          Chennai Super Kings   3006
53  2014             Delhi Daredevils    584
54  2014              Kings XI Punjab   4132
55  2014        Kolkata Knight Riders   3462
56  2014               Mumbai Indians   2371
57  2014             Rajasthan Royals   1768
58  2014  Royal Challengers Bangalore   1471
59  2014          Sunrisers Hyderabad   1811
60  2015          Chennai Super Kings   3049
61  2015             Delhi Daredevils   1483
62  2015              Kings XI Punjab    526
63  2015        Kolkata Knight Riders   2274
64  2015               Mumbai Indians   3278
65  2015             Rajasthan Royals   2321
66  2015  Royal Challengers Bangalore   2292
67  2015          Sunrisers Hyderabad   2337
68  2016             Delhi Daredevils   2184
69  2016                Gujarat Lions   2952
70  2016              Kings XI Punjab   1194
71  2016        Kolkata Knight Riders   2270
72  2016               Mumbai Indians   2377
73  2016      Rising Pune Supergiants   1329
74  2016  Royal Challengers Bangalore   3147
75  2016          Sunrisers Hyderabad   3409

[76 rows x 3 columns]